

.searchBar input[type=text] {
    padding: 0.5rem;
    font-size: 17px;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    outline: none;
    width: 20rem;
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
    border-width: 1px;
}

.searchBar input::placeholder {
    color: white;
    opacity: 0.5;
}

.searchBar input[type=submit] {
    padding: 0.50rem 1.5rem;
    font-size: 18px;
    background-color: #F09D51;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 0.25rem;
    margin-left: 0.75rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.searchBar input[type=submit]:hover {
    transform: scale(0.98);
}


@media screen and (max-width: 900px) {
    .searchBar input[type=text] {
        padding: 0.5rem;
        width: 20rem;
        margin: 0;

    }
    .searchBar input[type=submit] {
        padding: 0.50rem 0.75rem;
        font-size: 18px;
    }
  }

  @media screen and (max-width: 500px) {
    .searchBar input[type=text] {
        padding: 0.5rem;
        width: 15rem;
        margin: 0;

    }
    .searchBar input[type=submit] {
        padding: 0.50rem 0.75rem;
        font-size: 18px;
    }
  }




  @media screen and (max-width: 400px) {
    .searchBar input[type=text] {
        padding: 0.5rem;
        width: 12rem;
        margin: 0;

    }
    .searchBar input[type=submit] {
        padding: 0.50rem 0.75rem;
        font-size: 18px;
    }
  }


