/* .searchBar {
    position: absolute;
    top: .5rem;
    margin: 1rem;
} */


.searchBar input[type=text] {
    padding: 0.5rem;
    font-size: 17px;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    outline: none;
    width: 25rem;
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
    border-width: 1px;


}

.searchBar input::placeholder {
    color: white;
    opacity: 0.5;
}

.searchBar input[type=submit] {
    padding: 0.60rem 1.5rem;
    font-size: 18px;
    background-color: #F09D51;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 0.25rem;
    margin-left: 0.75rem;
    cursor: pointer;
}