.searchBar {
    position: absolute;
    top: .5rem;
    margin: 1rem;
}


.searchBar input[type=text] {
    padding: 0.5rem;
    font-size: 17px;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    outline: none;
    width: 20rem;

}

.searchBar input::placeholder {
    color: white;
    opacity: 0.5;
}

.searchBar input[type=submit] {
    padding: 0.5rem 1rem;
    font-size: 17px;
    border: none;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    cursor: pointer;
}