
.widgets {
    display: flex;
    padding: 0.25rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 130px;
    border-radius: 1.5rem;
    background-color: #293650;
    margin: 0.75rem;
}

.featureTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.featureName p {
    font-size: 16px;
    opacity: 0.5;
    margin: 0;
    margin-left: 0.25rem;
    padding: 0;
}

.featureValue p {
    font-size: 30px;
    margin: 0.20rem;
    margin-left: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0;
    font-weight: 200;
}

.outerProgressBar {
    width: 300px;
    background-color: #1c1d1f;
    height: 16px;
    border-radius: 1rem;
}

.innerProgressBar {
    width: 100px;
    height: 16px;
    border-radius: 1rem;
    background-color: #d9a063;
    transition: width 1s; 
}


