.container{
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    margin-top: 2rem;
    padding: 0.5rem;
}


.container a{
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-decoration: none;
    border-style: solid;
    border-color: #F09D51;
    border-width: 0.1rem;
    color: #F09D51;
    transition: background-color 0.5s, color 0.5s;

}

.container a:hover{
    background-color: #F09D51;
    color: white;
}

@media screen and (max-width: 850px) {
    .container{
        margin-top: 0.5rem;
        padding: 1rem;
        font-size: 10px;
    }
  }
