
.container {
    display: flex;
    width: 900px;
    background-color: #202837;
    border-radius: 1rem;
    justify-content: center;
    flex-direction: column;
}

.featuresContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

@media screen and (max-width: 850px) {
    .container{
        width: 100%;
        border-radius: none;
        background-color: transparent;
    }
    .featuresContainer{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
  }