.sideInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideInfo {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0rem 1.5rem;
    /* background-color: red; */
}

.infoBox {
    margin-bottom: 2.5rem;
}

.sideInfoName p {
    margin: 0;
    padding: 0;
    opacity: 0.5;
    font-size: 16px;
}

.sideInfoValue p {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 200;
}

@media screen and (max-width: 850px) {
    .sideInfoName p {
        font-size: 14px;
    }
    
    .sideInfoValue p {
        font-size: 28px;
    }

    .infoBox {
        margin-bottom: 0.2rem;
        width: 120px;
        padding: 0.5rem;
        text-align: center;
    }

    .sideInfo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
  }
