.trackInfo {
    position: relative;
    padding: 0.25rem;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(47, 63, 90);
    border-radius: 1rem 1rem 0.0rem 0.0rem;
}

.trackInfo p {
    margin: 0;
    padding: 0.5rem;
}

.trackInfoFields {
    font-weight: 200;
    text-align: center;
}

.infoButton{
    position: absolute;
    right: 0.75rem;
    top: 0.70rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.infoButton:hover{
    transform: scale(0.95);
}

@media screen and (max-width: 900px) {
    .trackInfo{
        position: inherit;
    }
    .infoButton{
        right: 1.75rem;
        top: 1.75rem;
    }
  }


@media screen and (max-width: 850px) {
    .trackInfo{
        background-color: rgb(47, 63, 90);
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 0px;
        font-size: 16px;
        position: inherit;
    }
  }
  

